# swap files
*.swp
*.swo

# folders
summarization_stuff/
strappa_project/

# python files
__pycache__

# single data files
*.txt
*.abstr
*.pdf
.gitignore

# latex file
*.aux
*.bbl
*.blg
*.log
*.out
report.synctex.gz(busy)

# OS X file
.DS_Store

 
