# swap files
*.swp
*swo

summarization_stuff/

# python files
__pycache__

# single data files
*.txt
*.abstr
*.pdf

# latex file
*.aux
*.bbl
*.blg
*.log


# OS X file
.DS_Store

# gmail folder for a possible gmail_summerizer app
gmail_stuff
 
