# swap files
*.swp
*.swo

# folders
summarization_stuff/
strappa_projects/

# python files
__pycache__

# single data files
*.txt
*.abstr
*.pdf

# latex file
*.aux
*.bbl
*.blg
*.log
*.out
report.synctex.gz(busy)



# OS X file
.DS_Store

# gmail folder for a possible gmail_summerizer app
gmail_stuff
 
